@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --background-invert: 0 0% 13%;
    --foreground: 0 0% 9%;
    --foreground-invert: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --card-hover: 0 0% 95%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
 
    --primary: 0 0% 15%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 0 0% 45%;
    --secondary-foreground: 0 0% 100%;

    --disabled: 0 0% 15% / 3%;
    --disabled-foreground: 0 0% 9% / 25%;

    --subtle: 0 0% 96%;
    --subtle-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 90%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9% 0%; /* hid the ring by adding last 0% */
 
    --radius: 0.5rem;

    --lavender: 251 77% 72%;
  }
 
  .dark {
    --background: 0 0% 13%;
    --background-invert: 0 0% 98%;
    --foreground: 0 0% 100%;
    --foreground-invert: 0 0% 9%;
 
    --card: 0 0% 15%;
    --card-foreground: 0 0% 100%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 24 9.8% 10%;
 
    --secondary: 0 0% 83%;
    --secondary-foreground: 24 9.8% 10%;

    --subtle: 0 0% 25%;
    --subtle-foreground: 0 0% 100%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

/* --- Styles --- */

.elevation-1 {
  box-shadow: 0px 0px 4px -2px rgba(24, 39, 75, 0.08), 0px 0px 4px -2px rgba(24, 39, 75, 0.12);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.background_home {
	background: linear-gradient(-45deg, hsl(196, 76%, 39%), #FF964B 0%, #FB8383 36%, #F468A0 62%, #DC56E8 83%, #9D53FD 100%);
	background-size: 400% 400%;
	animation: gradient 6s ease infinite;
  height: 400%;
}

/* --- Typography --- */
h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.15em;
  letter-spacing: -0.01em;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.15em;
  letter-spacing: -0.01em;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25em;
  letter-spacing: -0.01em;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
}

small {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: -0.01em;
}

/* --- Lists --- */
ol.styled {
  list-style: number;
  margin-left: 1.25rem;
  padding-left: 0.25rem;
}

ol.styled > li {
  margin-top: 0.5rem;
}

ul.styled {
  list-style: disc;
  margin-left: 1.25rem;
  padding-left: 0.25rem;
}

ul.styled > li {
  margin-top: 0.5rem;
}

.glass {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}